#root {
  display: flex;
  flex-direction: column;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #e1097caa);
}

.nameDog{
  margin-top: 2rem;
  font-size: 32px;
  font-weight: 900;
}

.lotum{
  justify-content: center;
  align-items: center;
}


.profileName{
  display: flex;
  flex-direction: column;
  align-items: center;
  color:#242424;
  text-shadow: #242424;
  margin: auto;
}

.profileDescp{
  color:#242424;
  text-shadow: #242424;
}

.liked_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky; /*Fija la caja*/
  top: 0;
  height: 3rem;
  z-index: 2;
  padding: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.liked_top img {
  height: 5rem;
  width: 5rem;
}

.X-liked_top {
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  height: 3rem;
  z-index: 2;
  padding: 1.2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}

.X-liked_top img {
  height: 4rem;
  width: 4.5rem;
}


.background {
  background-image: url('./img/fondo-romantico-de-perros.png');
  background-size: cover;
  background-position: center;
  width: 100px;
  height: 795px;
}

.button-Match {
  background-image: url('./img/simbolo-corazon-verde-tinder.jpg');
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 0.5em;
  cursor: pointer;
}

.button-X {
  background-image: url('./img/tinder-x.jpg');
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 0.5em;
  cursor: pointer;
}

.button_AtoR{
  background-image: url('./img/AtoR.jpeg');
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  margin: 0.5em;
  cursor: pointer;
}

.button_RtoA {
  background-image: url('./img/RtoA.jpeg');
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: none;
  margin: 0.5em;
  cursor: pointer;
}

.button_more{
  background-image: url('./img/AS-Web-button-Dog-Info.jpg');
  background-color: rgb(255, 255, 255);
  background-size: cover;
  background-position: center;
  width: 250px;
  height: 55px;
  border: none;
  margin: 0.5em;
  cursor: pointer;
}
.Information{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400;
  border: #242424;
  border-radius: 15px;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.columna {
  background-color: white;
  height: 630px;
  overflow-y: auto;
  color: black;
  border-radius: 15px;
  opacity: 90%;
}

.columna.profile{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenidos-aceptados,.contenidos-rechazados{
  margin: 0 auto;
}

.contenido{
  display:grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

/*Tablet*/
@media (min-width: 768px) {
  .contenido{
    grid-template-columns: repeat(4, 1fr);
  }
  .profile{
    grid-column: 1/5;
  }
  .aceptados{
    grid-column: 1/3;
  }
  .rechazados{
    grid-column: 3/5;
  }
}

@media (min-width:1440px){
  .contenido{
    grid-template-columns: repeat(3, 1fr);
  }
  .profile{
    grid-column: 1/2;
  }
  .aceptados{
    grid-column: 2/3;
  }
  .rechazados{
    grid-column: 3/4;
  }
}